[Unit]
Description=IKEv2 GUI
After=network.target strongswan-starter.service

[Service]
Type=simple
WorkingDirectory=/opt/ikev2-l2tp-gui
Environment=IKEGUI_APP=/opt/ikev2-l2tp-gui
Environment=IKEGUI_CFG=/etc/ikev2-l2tp-gui
Environment=IKEGUI_DATA=/var/lib/ikev2-l2tp-gui
ExecStart=/usr/bin/python3 -m gunicorn -b 127.0.0.1:8765 -w 1 --timeout 60 app:app
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
